* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background: #050816;
    color: white;
}


/* Navbar */

.navbar {
    background: rgba(5, 8, 22, 0.8);
    backdrop-filter: blur(10px);
}

.navbar-brand span {
    color: #00e5ff;
}

.nav-link {
    color: white !important;
    margin-left: 15px;
}


/* Hero */

.hero-section {
    min-height: 100vh;
    padding-top: 80px;
    overflow: hidden;
    position: relative;
}

.hero-section::before {
    content: "";
    position: absolute;
    width: 350px;
    height: 350px;
    background: #5b5bff;
    filter: blur(150px);
    opacity: 0.4;
    top: 10%;
    left: 5%;
}

.welcome-text {
    color: #00e5ff;
    font-size: 20px;
}

.hero-section h1 {
    font-size: 35px;
    font-weight: bold;
}

.hero-section h2 {
    font-size: 25px;
}

.hero-description {
    color: #b5b5b5;
    margin: 20px 0;
    line-height: 1.8;
}

/* AI Circle */

.ai-circle {
    width: 350px;
    height: 350px;
    margin: auto;
    border-radius: 50%;
    border: 2px solid #00e5ff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: float 4s ease-in-out infinite;
    box-shadow: 0 0 40px #00e5ff;
}

.ai-circle i {
    font-size: 100px;
    color: #00e5ff;
}

.orbit {
    position: absolute;
    border: 1px solid #5b5bff;
    border-radius: 50%;
}

.orbit1 {
    width: 420px;
    height: 420px;
    animation: rotate 10s linear infinite;
}

.orbit2 {
    width: 500px;
    height: 500px;
    animation: rotate 15s linear infinite reverse;
}

.orbit3 {
    width: 280px;
    height: 280px;
    animation: rotate 7s linear infinite;
}

@keyframes rotate {

    100% {
        transform: rotate(360deg);
    }

}

@keyframes float {

    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

}


/* Sections */

section {
    position: relative;
}

section h2 {
    color: #00e5ff;
}


/* About */

.profile-box img {
    font-size: 200px;
}
.profile-box img:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 25px #00e5ff;
}


/* Skills */

.skill-card {
    background: rgba(255, 255, 255, 0.05);
    padding: 35px 20px;
    border-radius: 20px;
    border: 1px solid rgba(0, 229, 255, 0.2);
    height: 100%;
    transition: 0.4s;
} 

.skill-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 25px #00e5ff;
}

.skill-card i {
    font-size: 45px;
    color: #00e5ff;
    margin-bottom: 15px;
}


/* Projects */

.project-card {
    background: rgba(255, 255, 255, 0.05);
    color: white;
    border: 1px solid rgba(0, 229, 255, 0.2);
    transition: 0.4s;
    height: 100%;
}

.project-card:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 0 30px #5b5bff;
}

.project-icon {
    text-align: center;
    padding: 30px;
}

.project-icon i {
    font-size: 60px;
    color: #00e5ff;
}


/* Contact */

.contact-form {
    background: rgba(255, 255, 255, 0.05);
    padding: 30px;
    border-radius: 20px;
}
.contact-form:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 25px #00e5ff;
}

.form-control {
    background: transparent;
    color: white;
    border: 1px solid #00e5ff;
}
.form-control::placeholder {
    color: white;
    opacity: 1;
}
.form-control:focus {
    background: transparent;
    color: white;
    box-shadow: 0 0 10px #00e5ff;
}
/* Footer */

footer {
    background: #02040c;
    color: #aaa;
}


/* Mobile Responsive */

@media (max-width: 768px) {

    .hero-section h1 {
        font-size: 42px;
    }

    .hero-section h2 {
        font-size: 27px;
    }

    .ai-circle {
        width: 250px;
        height: 250px;
        margin-top: 80px;
    }

    .orbit1 {
        width: 300px;
        height: 300px;
    }

    .orbit2 {
        width: 340px;
        height: 340px;
    }

}